In [31]:
# conexión Local a base en Docker
host = "localhost"
port = '5432'
user = 'user'
password = 'password'
database = 'postgres' #verificar la existencia de la base datos

In [26]:
import pandas as pd
import numpy as np
from sqlalchemy.sql import text
from sqlalchemy import create_engine

In [32]:
#conexión a la base de datos local (contenedor de docker)
connDockerLocal = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}', echo=False)

In [28]:
# Librerías requeridas para la conexión y muestra de información
import psycopg2 as ps
import pandas as pd

In [36]:
# Prueba de conexión con host local
try:
    connps = ps.connect(host="localhost",database="postgres",user='user',password='password',port='5432')
except ps.OperationalError as e:
    raise e
else:
    print('Connected!')

Connected!

In [37]:
# Busqueda de verificación de conexión local
query = """
    SELECT * FROM listings_summary
"""

with connDockerLocal.connect().execution_options(autocommit=True) as conn:
    query = conn.execute(text(query))         
df = pd.DataFrame(query.fetchall())
df.head()

,id,listing_url,accommodates,bedrooms,beds,host_acceptance_rate,host_is_superhost,host_response_rate,host_response_time,latitude,...,number_of_reviews,price,property_type,reviews_per_month,room_type,source,average_score,months_since_first_review,description_clean,neighborhood_overview_clean
0,52931,https://www.airbnb.com/rooms/52931,4,2.0,2.0,0.97,False,0.96,within an hour,48.89613,...,17,209.0,Entire rental unit,1.65,Entire home/apt,previous scrape,4.51,10.0,I will be delighted to welcome you to my charm...,"In some streets, Les Épinettes has also become..."
1,53353,https://www.airbnb.com/rooms/53353,6,2.0,3.0,NaN,False,NaN,,48.88985,...,37,297.0,Entire rental unit,0.24,Entire home/apt,city scrape,4.80,155.0,A 100 m2 Loft/apartment (with 20 m2 terrace) o...,NEIGHBORHOOD: Montmartre-Clichy-Pigalles-Les F...
2,3109,https://www.airbnb.com/rooms/3109,2,1.0,1.0,1.00,False,1.00,within a day,48.83191,...,9,110.0,Entire rental unit,0.11,Entire home/apt,city scrape,5.00,81.0,Lovely Appartment with one bedroom with a Quee...,Good restaurantsvery close the Montparnasse St...
3,54377,https://www.airbnb.com/rooms/54377,3,1.0,1.0,0.94,True,1.00,within a few hours,48.88927,...,102,120.0,Private room in rental unit,1.19,Private room,city scrape,4.86,85.0,We love Paris. Giving tourists the opportunity...,The district is cosmopolitan and particularly ...
4,5396,https://www.airbnb.com/rooms/5396,2,1.0,1.0,0.99,False,1.00,within an hour,48.85247,...,354,140.0,Entire rental unit,2.05,Entire home/apt,city scrape,4.69,171.0,"NEW SOFA-BED SINCE JUNE 2023, Please disregard...","You are within walking distance to the Louvre,..."

In [42]:
## Conexion AWS
host = "baseproyecto.cnq0s9gj56ma.us-east-1.rds.amazonaws.com"
port = '5432'
user = 'proyecto'
password = 'Baseproyecto#'
database = 'postgres' #verificar la existencia de la base datos

In [43]:
try:
    connps = ps.connect(host="baseproyecto.cnq0s9gj56ma.us-east-1.rds.amazonaws.com",database="postgres",user='proyecto',password='Baseproyecto#',port='5432')
except ps.OperationalError as e:
    raise e
else:
    print('Connected!')

Connected!

In [44]:
call_data = pd.read_sql('SELECT * FROM listings_summary', connps)

C:\Users\sergi\AppData\Local\Temp\ipykernel_26096\2169969259.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  call_data = pd.read_sql('SELECT * FROM listings_summary', connps)

In [45]:
call_data.head()

,id,listing_url,accommodates,bedrooms,beds,host_acceptance_rate,host_is_superhost,host_response_rate,host_response_time,latitude,...,number_of_reviews,price,property_type,reviews_per_month,room_type,source,average_score,months_since_first_review,description_clean,neighborhood_overview_clean
0,52931,https://www.airbnb.com/rooms/52931,4,2.0,2.0,0.97,False,0.96,within an hour,48.89613,...,17,209.0,Entire rental unit,1.65,Entire home/apt,previous scrape,4.51,10.0,I will be delighted to welcome you to my charm...,"In some streets, Les Épinettes has also become..."
1,53353,https://www.airbnb.com/rooms/53353,6,2.0,3.0,NaN,False,NaN,,48.88985,...,37,297.0,Entire rental unit,0.24,Entire home/apt,city scrape,4.80,155.0,A 100 m2 Loft/apartment (with 20 m2 terrace) o...,NEIGHBORHOOD: Montmartre-Clichy-Pigalles-Les F...
2,3109,https://www.airbnb.com/rooms/3109,2,1.0,1.0,1.00,False,1.00,within a day,48.83191,...,9,110.0,Entire rental unit,0.11,Entire home/apt,city scrape,5.00,81.0,Lovely Appartment with one bedroom with a Quee...,Good restaurantsvery close the Montparnasse St...
3,54377,https://www.airbnb.com/rooms/54377,3,1.0,1.0,0.94,True,1.00,within a few hours,48.88927,...,102,120.0,Private room in rental unit,1.19,Private room,city scrape,4.86,85.0,We love Paris. Giving tourists the opportunity...,The district is cosmopolitan and particularly ...
4,5396,https://www.airbnb.com/rooms/5396,2,1.0,1.0,0.99,False,1.00,within an hour,48.85247,...,354,140.0,Entire rental unit,2.05,Entire home/apt,city scrape,4.69,171.0,"NEW SOFA-BED SINCE JUNE 2023, Please disregard...","You are within walking distance to the Louvre,..."

In [46]:
call_data_2 = pd.read_sql('SELECT * FROM reviews_summary', connps)

C:\Users\sergi\AppData\Local\Temp\ipykernel_26096\2331775178.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  call_data_2 = pd.read_sql('SELECT * FROM reviews_summary', connps)

In [47]:
call_data_2.head()

Empty DataFrame
Columns: [listing_id, id, date, comments, language]
Index: []